gymnasium
autorom
pyside6
pywin32
opencv-python
qt_material
psutil
transformers==4.52.4
einops
timm
av
decord
accelerate
bitsandbytes
sounddevice
soundfile
ale-py
pygame
stable-baselines3[extra]
keyboard
numpy
google-cloud-texttospeech
pydub 
emoji
simpleaudio
mss
selenium
langchain 
sentence-transformers
faiss-cpu
langchain-community
hf_xet
pytesseract
swig
gymnasium[box2d]
ray